/* Base styles */
.navbar {
    font-family: Montserrat, sans-serif;
    --tw-bg-opacity: 1;
    background-color: rgb(33 36 40 / var(--tw-bg-opacity));
    --tw-border-opacity: 1;
    border-bottom-color: rgb(75 85 99 / var(--tw-border-opacity));
    border-bottom-width: 1px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 6rem;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    z-index: 50;
    top: 0px;
    position: sticky;
}

.logo {
  width: 50px;
}

.navLinks {
  display: none;
}

.navLinks li {
  font-size: 1rem;
  font-weight: normal;
  color: var(--gray-400);
  cursor: pointer;
  transition: color 0.3s ease;
}

.navLinks li:hover {
  color: var(--designColor);
}

.toggleButton {
  font-size: 1.25rem;
  background-color: black;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--designColor);
  cursor: pointer;
}

.menuContainer {
  width: 80%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--gray-900);
  padding: 1rem;
  overflow-y: auto;
}

.menuLogo {
  width: 8rem;
}

.menuDescription {
  font-size: 0.875rem;
  color: var(--gray-400);
  margin-top: 0.5rem;
}

.menuLinks {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.menuLinks li {
  font-size: 1rem;
  font-weight: normal;
  color: var(--gray-400);
  cursor: pointer;
  transition: color 0.3s ease;
}

.menuLinks li:hover {
  color: var(--designColor);
}

.closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  color: var(--gray-400);
  cursor: pointer;
  transition: color 0.3s ease;
}

.closeButton:hover {
  color: var(--designColor);
}

.findMe {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1rem;
}

.iconsContainer {
  display: flex;
  gap: 1rem;
}

.bannerIcon {
  font-size: 1.25rem;
  color: var(--gray-400);
  cursor: pointer;
  transition: color 0.3s ease;
}

.bannerIcon:hover {
  color: var(--designColor);
}

@media (min-width: 768px) {

  .navbar{
    height: 4.5rem;
  }
  .navLinks {
    display: flex;
    gap: 2.5rem;
  }

  .toggleButton {
    display: none;
  }
}

/* Sidebar styling for small devices */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgb(33 36 40);
  z-index: 20;
  transform: translateX(-100%);
  animation: slideInFromLeft 0.3s forwards;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.sidebarLogo {
  height: 50px;
  width: auto;
  margin-bottom: 1rem;
}

.sidebarDescription {
  font-size: 0.9rem;
  color:white;
  margin-bottom: 2rem;
  line-height: 1.5;
}

.sidebarLinks {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

.sidebarLink {
  margin-bottom: 1rem;
}

.sidebarLink a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.sidebarLink a:hover {
  color: #007bff;
}

.findMe {
  margin-top: 2rem;
}

.findMe h2 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.socialIcons {
  display: flex;
  gap: 1rem;
}

.socialIcon {
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
  transition: color 0.3s ease-in-out;
}

.socialIcon:hover {
  color: #007bff;
}

.closeButton {
  font-size: 1.5rem;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

/* Animation for sliding from the left */
@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

/* Responsive only for small devices */
@media (max-width: 768px) {
  .sidebar {
    width: 100%; /* Occupy the full width of the screen */
  }
}


@media (max-width: 480px) {
  .navbar{
    height: 4rem;
  }
}

@media (max-width: 450px) {
  .navbar{
    height: 4rem;
  }
}
@media (max-width: 391px) {
  .navbar{
    height: 4rem;
  }
}
@media (max-width: 380px) {
  .navbar{
    height: 3.5rem;
  }
}
